@model IEnumerable<E_Hutech.Models.Comment>
@{
    ViewBag.Title = "Index_BL";
}

<div class="share-section2">
    <h2>Bình luận</h2>
    @using (Html.BeginForm("Create_BL", "Events", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("Id_Event",(int)ViewBag.Id_Event)
        @Html.TextArea("Message")
        <input type="submit" value="Đăng" />
    }

    @foreach (var item in Model)
    {
        <div id="comments">
            <div id="comment_name">@item.Id_User</div>
            <div id="comment_Content">@item.Message</div>
        </div>
    }
</div>
